@model Survey.Models.Survey

@{
    ViewBag.Title = "View";
}

<h2>Details</h2>

<div class="form-horizontal" id="surveyDiv">
    <h4>@Model.SurveyTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>
    </dl>
    @if (Model.SurveyID != 0)
    {
        <div class="form-group">
            @Html.Label("Questions", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            <hr>
            @foreach (var item in Model.Questions.OrderBy(t => t.QuestionIndex))
            {
                <div class="col-md-10">
                    <dl class="dl-horizontal">
                        <dt>
                            @(item.QuestionIndex):
                        </dt>
                        <dd>
                            @item.QuestionText
                        </dd>
                        @if (item.QuestionTypeID == 1)
                        {
                            <dd>
                                <textarea rows="4" cols="40"></textarea>
                            </dd>
                        }

                        @foreach (var option in item.QuestionOptions)
                        {
                            if (item.QuestionTypeID == 2)
                            {
                                <dd>
                                    <input type="radio" disabled /> @option.QuestionOptionText
                                </dd>
                            }
                            else if (item.QuestionTypeID == 3)
                            {
                                <dd>
                                    <input type="checkbox" disabled /> @option.QuestionOptionText
                                </dd>
                            }
                            if (option.IsSurveyLogicText)
                            {
                                <dd>
                                    <b>Survey Logic: </b>
                                    @option.SurveyLogicText
                                </dd>
                                <dd>
                                    <textarea rows="4" cols="40"></textarea>
                                </dd>
                            }
                        }
                    </dl>
                </div>
            }
        </div>
    }
</div>
<p>
    <div class="form-group">
        <button id="embed">Embed</button>
        <button id="pdf">Generate PDF</button>
        <button id="word">Generate Word</button>
    </div>
    <div class="form-group" id="embedCode" style="display:none">
        <div class="col-md-5">
            <input type="text" id="embedCopy" class="form-control text-box single-line" style="min-width:100%; " value="@string.Format("{0}://{1}/Visitors/Create?surveyID={2}", Request.Url.Scheme, Request.Url.Authority,Model.SurveyID)" />
        </div>
        <div class="col-md-2">
            <button id="copy">copy</button>
        </div>
    </div>
    <br /><br />
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    <script src="~/Scripts/third_party/jspdf.debug.js"></script>
    <script src="~/Scripts/third_party/html2pdf.js"></script>
    <script src="~/Scripts/third_party/word.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#embed').click(function () {
                $('#embedCode').toggle();
            });

            $('#copy').click(function () {
                /* Select the text field */
                $('#embedCopy').select();

                /* Copy the text inside the text field */
                document.execCommand("copy");
            });

            $('#pdf').click(function () {
                var pdf = new jsPDF('p', 'pt', 'letter');
                var canvas = pdf.canvas;
                canvas.height = 72 * 11;
                canvas.width = 72 * 8.5;
                // var width = 400;
                var html = '<html><body style="margin-left: 20%;">' + $('#surveyDiv').html() + '</body></html>';

                html2pdf(html, pdf, function (canvas) {
                    pdf.save('Survey.pdf');
                }
                );
            });
            $('#word').click(function () {
                $(document).googoose({
                    area: '#surveyDiv'
                });
            });
        });
    </script>
}