@model Survey.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>
    </dl>
    @if (Model.SurveyID != 0)
    {
        <div class="form-group">
            @Html.Label("Questions", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            <hr>
            @foreach (var item in Model.Questions.OrderBy(t => t.QuestionIndex))
            {
                <div class="col-md-10">
                    <dl class="dl-horizontal">
                        <dt>
                            @(item.QuestionIndex):
                        </dt>
                        <dd>
                            @item.QuestionText
                        </dd>
                        @if (item.QuestionTypeID == 2)
                        {
                            foreach (var option in item.QuestionOptions)
                            {
                                <dd>
                                    <input type="radio" disabled /> @option.QuestionOptionText
                                </dd>
                            }
                        }
                    </dl>
                </div>
            }
        </div>
    }
</div>
<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
