@model Survey.Models.AnswerViewModel

@{
    ViewBag.Title = "SurveyAnswer";
}

<h2>SurveyAnswer</h2>

<div>
    <h4>AnswerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyName)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Questions")
        </th>
        <th></th>
    </tr>
    @{string[] colors = { "5cb85c", "f0ad4e", "d9534f", "000000", "555555", "aaaaaa" }; }
    @foreach (var item in Model.Questions.OrderBy(t => t.QuestionIndex))
    {
        int i = 0;
        var total = item.QuestionOptions.Sum(t => t.AnswerCount);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @if (item.QuestionOptions.Count > 0)
                {
                    <div class="progress">
                        @foreach (var itm in item.QuestionOptions)
                        {
                            <div class="progress-bar progress-bar-success" role="progressbar" style="background-color:#@colors[i]; width:@(itm.AnswerCount * 100.000 / total)%;">
                                @itm.OptionText (@Math.Round(itm.AnswerCount * 100.000 / total)%)
                            </div>
                            i++;
                        }
                    </div>
                }
                else
                {
                    <div class="progress">
                        <div class="progress-bar  progress-bar-success" role="progressbar" style="width:100%;">
                            Free Text
                        </div>
                    </div>
                }
            </td>
        </tr>
    }

</table>