@model Survey.Models.AnswerViewModel

@{
    ViewBag.Title = "Survey Answer Gender";
}

<h2>Survey Answer Gender</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyName)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Questions")
        </th>
        <th></th>
    </tr>
    @{string[] colors = { "5cb85c", "f0ad4e", "d9534f", "000000", "555555", "aaaaaa" }; }
    @foreach (var item in Model.Questions.OrderBy(t => t.QuestionIndex))
    {
        if (item.QuestionOptions.Count > 0)
        {
            int i = 0;
            var total = item.QuestionOptions.Sum(t => t.AnswerCount);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    <div class="progress">
                        @foreach (var itm in item.QuestionOptions)
                        {
                            <div class="progress-bar progress-bar-success" role="progressbar" style="background-color:#@colors[i]; width:@(itm.AnswerCount * 100.000 / total)%;">
                                @itm.OptionText (@Math.Round(itm.AnswerCount * 100.000 / total)%)
                            </div>
                            i++;
                        }
                    </div>
                    <div class="progress">
                        @foreach (var itm in item.QuestionOptions)
                        {
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:@(itm.AnswerCount * 100.000 / total)%;">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="background-color:#456876; width:@(itm.MAnsCount * 100 / itm.AnswerCount)%;">
                                        Male (@(itm.MAnsCount * 100 / itm.AnswerCount)%)
                                    </div>
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="background-color:#987456; width:@(100-(itm.MAnsCount * 100 / itm.AnswerCount))%;">
                                        Female (@(100 - (itm.MAnsCount * 100 / itm.AnswerCount))%)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        }
    }
</table>
