@model Survey.Models.Survey

@{
    ViewBag.Title = "SurveyResponse";
}
<style>
    .control-label {
        padding-top: 0 !important;
    }

    textarea {
        max-width: 600px;
    }
</style>

<h2>SurveyResponse</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.SurveyTitle</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Survey_Title">End Date</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Survey_Title">Time Limit</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TimeLimit)
            </div>
        </div>
        @if (Model.SurveyID != 0)
        {
            <div class="form-group">
                @Html.Label("Questions", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <br />
            <hr>
            foreach (var item in Model.Questions.OrderBy(t => t.QuestionIndex))
            {
                <div class="form-group question">
                    <input type="hidden" id="questionID" value="@item.QuestionID" />
                    <input type="hidden" id="optionTypeID" value="@item.QuestionTypeID" />
                    <div class="col-md-1">

                        @(item.QuestionIndex):
                    </div>
                    <div class="col-md-10">
                        @item.QuestionText
                    </div>
                </div>
                if (item.QuestionTypeID == 1)
                {
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <textarea id="text@(item.QuestionID)" rows="4" cols="100"></textarea>
                        </div>
                    </div>
                }
                foreach (var option in item.QuestionOptions)
                {
                    if (item.QuestionTypeID == 2)
                    {
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <input type="radio" attr="@option.IsSurveyLogicText.ToString()" value="@option.QuestionID" id="@option.QuestionOptionID" class="radioOption" name="radio@(option.QuestionID)" /> @option.QuestionOptionText
                            </div>
                        </div>
                    }
                    else if (item.QuestionTypeID == 3)
                    {
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <input type="checkbox" attr="@option.IsSurveyLogicText.ToString()" value="@option.QuestionID" id="@option.QuestionOptionID" class="checkboxOption" name="checkbox@(item.QuestionID)" /> @option.QuestionOptionText
                            </div>
                        </div>
                    }
                    if (option.IsSurveyLogicText)
                    {
                        <div id="surveyLogicDiv@(option.QuestionID)" style="display:none;">
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @option.SurveyLogicText
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <textarea id="text@(item.QuestionID)" rows="4" cols="100"></textarea>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Submit" id="submit" style="display:none;" />
                </div>
            </div>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').delay(@(Model.TimeLimit*60000)).show(0);   
            // radio button option
            $('.radioOption').change(function () {
                var checked = $(this).is(':checked')
                if (checked) {
                    if ($(this).attr('attr') == 'True') {
                        $('#surveyLogicDiv' + $(this).val()).show();
                    }
                    else {
                        $('#surveyLogicDiv' + $(this).val()).hide();
                    }
                }
            });

            // checkbox option
            $('.checkboxOption').change(function () {
                var checked = $(this).is(':checked')
                $('input:checkbox[name=' + $(this).attr('name') + ']').prop('checked', false);
                $(this).prop('checked', true);
                if ($(this).attr('attr') == 'True') {
                    $('#surveyLogicDiv' + $(this).val()).show();
                }
                else {
                    $('#surveyLogicDiv' + $(this).val()).hide();
                }
            });

            $('#submit').click(function () {
                var arrayList = [];
                $(".question").each(function () {
                    var questionID = $(this).find("#questionID").val();
                    var optionTypeID = $(this).find("#optionTypeID").val();
                    var optionID = null;
                    if (optionTypeID == 2) {
                        var option = $('input:radio[name=radio' + questionID + ']:checked');
                        optionID=option.attr('id');
                    }
                    else if (optionTypeID == 3) {
                        var option = $('input:checkbox[name=checkbox' + questionID + ']:checked');
                        optionID= option.attr('id');
                    }

                    var model = {
                        SurveyResponseID: @ViewBag.ResponseID,
                        QuestionID: questionID,
                        QuestionOptionID: optionID,
                        FreeTextAnswer: $('textarea#text' + questionID).val()
                    };
                    arrayList.push(model);
                });

                $.ajax({
                    type: "POST",
                    url: '/Surveys/SurveyResponse',
                    data: JSON.stringify(arrayList),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (e) {          
                        window.location = '/Surveys/SurveyList';
                    },
                    error: function (e) {          
                        if(e.statusText=="OK")
                            window.location = '/Surveys/SurveyList';
                        else
                            alert(e.statusText);
                    }
                });
            });
        });
    </script>
}
