@model Survey.Models.UserLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Blend Login Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blend  Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/Content/SignupTemp/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/SignupTemp/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: blue ;
                text-decoration:underline;
            }

            a.my-class:visited {
                color: white ;
                text-decoration:underline;
                
            }
    </style>
    <!-- //web font -->
</head>
<body>
    <div class="main">
        <h1>LogIn</h1>
        <div class="main-w3lsrow">
            <div class="login-form login-form-left">
                <div class="agile-row">
                    @using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <p>Email</p>
                        <div>
                            @Html.TextBoxFor(model => model.UserEmailID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserEmailID, "", new { @class = "text-danger" })
                        </div>
                        <p>password</p>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                  <br/>
                            <span>
                                @Html.CheckBoxFor(model => model.RememberMe)Remember Me

                            </span>
                    
                   </div>
                    <p>

                        @Html.ActionLink("Forgot password", "Forgetpassword", "UserAccount", new { @class = "my-class" })
                    </p>
                    <input type="submit" value="Login" class="btn btn-default" />
                    }
                    <p>
                        
                            @Html.ActionLink("Register", "Registration", "UserAccount", new { @class = "my-class" })
                   
                    </p>
                </div>                        
                    </div>
                </div>
            </div>
</body>
</html>
