@model Survey.Models.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Blend Login Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blend  Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/Content/SignupTemp/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/SignupTemp/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: blue;
                text-decoration: underline;
            }

            a.my-class:visited {
                color: white;
                text-decoration: underline;
            }
    </style>
    <!-- //web font -->
</head>
<body>
    <div class="main">
        <h1>Reset Password</h1>
        <div class="main-w3lsrow">
            <div class="login-form login-form-left">
                <div class="agile-row">



                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            <div class="text-danger">
                                @ViewBag.Message       <!--to get the reset password code when submit the form-->
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <p>New Password</p>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>


                            <p>Confirm Password</p>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                @Html.HiddenFor(a => a.ResetCode)<!--to get the reset password code when submit the form-->
                            </div>

                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>